<%= form_for @publication, :html => { :class => "form-horizontal publication" } do |f| %>

    <% if @publication.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @publication.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :operation_type, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :operation_type, Publication::OPERATION_TYPES, {prompt: "Seleccione..."}, :class => 'form-control' %>
      </div>
      <%= error_span(@publication[:operation_type]) %>
    </div>
    <div class="form-group">
      <%= f.label :publication_type_id, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :publication_type_id, PublicationType.all.map{|t|[t.name, t.id]}, {prompt: "Seleccione..."}, :class => 'form-control' %>
      </div>
      <%= error_span(@publication[:publication_type_id]) %>
    </div>
    <div class="form-group">
      <%= f.label :property_id, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :property_id, Property.all.map{|t|[t.id, t.id]}, {prompt: "Seleccione..."}, :class => 'form-control' %>
      </div>
      <%= error_span(@publication[:property_id]) %>
    </div>
    <div class="form-group">
      <%= f.label :price, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.number_field :price, :class => 'form-control' %>
      </div>
      <%= error_span(@publication[:property_id]) %>
    </div>
    <div class="form-group">
      <%= f.label :currency, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :currency, Publication::CURRENCY.map{|c|[c,c]}, {prompt: "Seleccione..."}, :class => 'form-control' %>
      </div>
      <%= error_span(@publication[:property_id]) %>
    </div>

  <br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            publications_path, :class => 'btn btn-default' %>

<% end %>
