<%- model_class = Publication -%>
<div class="panel-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :price_gteq, "Price between" %>
      <%= f.text_field :price_gteq %>
      <%= f.label :price_lteq, "and" %>
      <%= f.text_field :price_lteq %>
    </div>
    <div class="field">
      <%= f.label :property_address_cont, "Address" %>
      <%= f.text_field :property_address_cont %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<div class="panel-body">
<table class=" table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :operation_type, model_class.human_attribute_name(:operation_type) %></th>
      <th><%= sort_link @search, :property_address, model_class.human_attribute_name(:address) %></th>
      <th><%= sort_link @search, :active, model_class.human_attribute_name(:state) %></th>
      <th><%= sort_link @search, :price, model_class.human_attribute_name(:price) %></th>
      <th><%= sort_link @search, :end_date, model_class.human_attribute_name(:end_date) %></th>
      <th><%= sort_link @search, :publication_type, model_class.human_attribute_name(:publication_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.operation_type %></td>
        <td><%= publication.property.try(:address) %></td>
        <td><%= state_tag publication.state %></td>
        <td><%= publication.price_with_currency %></td>
        <td><%= publication.end_date %></td>
        <td><%= publication.publication_type.name %></td>
        <td>
          <%= link_to publication_path(publication), :class => 'btn btn-default btn-xs' do %>
              <%= status_button_tag publication.state %>
          <% end %>
          <%= link_to publication_path(publication), :class => 'btn btn-info btn-xs' do %>
              <i class="fa fa-info"></i>
          <% end %>
          <%= link_to publication_path(publication),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro?')) },
                      :class => 'btn btn-xs btn-danger' do %>
              <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            publication_build_path(publication_id: 'new'),
            method: :post,
            :class => 'btn btn-primary' %>
</div>
