<%= form_for @property, :html => { :class => "form-horizontal property" } do |f| %>

    <% if @property.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :location_id, :class => 'col-md-4 control-label' %>
    <div class="col-md-4">
      <%= f.select :location_id, Location.all.map{|t|[t.name, t.id]}, {prompt: "Seleccione..."}, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:location_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :property_type_id, :class => 'col-md-4 control-label' %>
    <div class="col-md-4">
      <%= f.select :property_type_id, PropertyType.all.map{|t|[t.name, t.id]}, {prompt: "Seleccione..."}, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:property_type_id]) %>
  </div>
    <div class="form-group">
      <%= f.label :address, :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :address, :class => 'form-control' %>
      </div>
      <%= error_span(@property[:property_type_id]) %>
    </div>
  <%= render Characteristic.all, f: f %>
  <br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            properties_path, :class => 'btn btn-default' %>

<% end %>
