<div class="container" id="login-block">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <div class="page-icon-shadow animated bounceInDown"> </div>
      <div class="login-box clearfix animated flipInY">
        <div class="page-icon animated bounceInDown">
          <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="login-logo">
          <%= link_to image_tag("logo-white.png"), root_path %>
        </div>
        <hr>
        <div class="login-form">
          <% unless( defined?(home) ) %>
          <div class="alert alert-danger hide">
            <button type="button" class="close" data-dismiss="alert"> ×</button>
            <h4>Error!</h4>
            <%= devise_error_messages! %>
          </div>
          <% end %>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
              <%= f.email_field :email, :autofocus => true, class: 'input-field', placeholder: "Correo electronico", required: "" %>
              <%= f.password_field :password, class: 'input-field', placeholder: "Contraseña", required: "" %>
              <% if devise_mapping.rememberable? -%>
                  <label class="checkbox" style="padding-left: 20px">
                    <%= f.check_box :remember_me, class: 'input-field' %> Mantener sesion abierta
                  </label>
              <% end -%>
              <%= f.submit 'Sign in', :class => 'btn btn-login' %>

              <div class="login-links">
                <%- if devise_mapping.recoverable? %>
                    <%= link_to "¿Olvido su Contraseña?", new_password_path(resource_name), class: 'right' %>
                <% end -%>
                <br>
                <%- if devise_mapping.registerable? %>
                    <%= link_to '¿No tiene una cuenta? <strong>Registrese</strong>'.html_safe, new_registration_path(resource_name), class: 'right'  %>
                <% end -%>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
