<div class="control-group">
  <div class="checkbox">
    <%= f.label :boolean do  %>
        <%= f.check_box :boolean %>
        <%= characteristic_instance.characteristic.name %>
    <% end %>
    <%= f.hidden_field :characteristic_id %>
    <%= f.hidden_field :type %>
    <%= error_span(characteristic_instance.characteristic.name) %>
  </div>
</div>