<div class="control-group">
  <%= f.label characteristic_instance.characteristic.name, :class => 'control-label' %>
  <div class="controls">
    <%= f.hidden_field :characteristic_id %>
    <%= f.hidden_field :type %>
    <%= f.text_field :string, :class => 'form-control' %>
    <%= error_span(characteristic_instance.characteristic.name) %>
  </div>
</div>