<div class="form-group">
  <%= f.label characteristic_instance.characteristic.name, :class => 'col-md-4 control-label' %>
  <div class="col-md-4">
    <%= f.hidden_field :characteristic_id %>
    <%= f.hidden_field :type %>
    <%= f.text_field :string, :class => 'form-control' %>
    <%= error_span(characteristic_instance.characteristic.name) %>
  </div>
</div>